/* ChatGPT code from AI prompt */

/* Define the keyframes for the animation */
@keyframes cycleImages {
0%, 100% {
content: url('../img/tail-0.webp');
}
20%, 80% {
content: url('../img/tail-1.webp');
}
40%, 60% {
content: url('../img/tail-2.webp');
}
}

/* Apply the animation to the image */
.animated-image {
width: 60px;
padding: 0;
animation: cycleImages 8s linear infinite;
}
