/* Desktop View */
.testimonial-carousel {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  position: relative;
}

/*.testimonial {
  background-color: #fff;
  padding: 20px;
  margin: 0;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}*/
/* Testimonial Styles */
.testimonial {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.testimonial img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.title.is-5 {
  font-style: italic;
  font-size: 18px; /* Adjust the font size as needed */
}

.subtitle.is-6 {
  font-size: 14px; /* Adjust the font size as needed */
  color: #777; /* Adjust the text color as needed */
}

/*.testimonial img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  margin: 0 auto; /* Center the image horizontally */
  /*display: block;
}*/

.author {
  font-style: italic;
}

/* Opening Quotation Mark */
.opening-quote::before {
  content: "\201C"; /* Left double quotation mark */
  font-size: 72px; /* Adjust the size as needed */
  font-family: "Dancing Script", cursive; /* Use the Dancing Script font for a calligraphic look */
  color: #FFBA00; /* Main orange */
  position: relative;
  top: -0.3em; /* Adjust vertical positioning as needed for alignment */
  left: 0.15em; /* Adjust horizontal positioning as needed for alignment */
}

/* Closing Quotation Mark */
.closing-quote::before {
  content: "\201D"; /* Right double quotation mark */
  font-size: 72px; /* Adjust the size as needed */
  font-family: "Dancing Script", cursive; /* Use the Dancing Script font for a calligraphic look */
  color: #FFBA00; /* Main orange */
  position: relative;
  bottom: -0.1em; /* Adjust vertical positioning as needed for alignment */
  left: 0.1em; /* Adjust horizontal positioning as needed for alignment */
}

/* Tablet View */
@media (max-width: 991px) {
  .testimonial {
    margin: 20px auto; /* Center testimonials vertically and add some vertical spacing */
    padding: 10px; /* Reduce padding for smaller screens */
    border: 0px solid blue;
  }
}

/* Mobile View */
@media (max-width: 767px) {
  .testimonial {
    margin: 20px auto; /* Center testimonials vertically and add some vertical spacing */
    padding: 10px; /* Reduce padding for smaller screens */
    border: 0px solid red;
  }
}
