/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    /*background-color: #FC9A8B;*/
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;

    background: rgb(253,138,102);
    background: linear-gradient(90deg, rgba(253,138,102,1) 0%, rgba(248,75,163,1) 33%, rgba(253,138,102,1) 66%, rgba(252,154,139,1) 100%);
}

header {
    background-color: #F6FBFC;
    color: #F84BA3;
    text-align: center;
    padding: 2rem;
}

section {
    margin: 2rem;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #F6FBFC;
    color: #F84BA3;
}
