<div class="columns hero is-large has-carousel">
  <!-- Start Hero Carousel -->
  <section class="hero is-medium has-carousel">
    <div id="carousel-demo" class="hero-carousel">
      <div class="item-1">
        <!-- Slide Content -->
        <img src="img/officevibe/ov-g2parser.py.png" alt="">
      </div>
      <div class="item-2">
        <!-- Slide Content -->
        <img src="img/officevibe/ov-g2reviews.csv.png" alt="">
      </div>
      <div class="item-3">
        <!-- Slide Content -->
        <img src="img/officevibe/ov-reviews-Sheets.png" alt="">
      </div>
    </div>
    <div class="hero-head"></div>
    <div class="hero-body"></div>
    <div class="hero-foot"></div>
  <!--</section>-->
  <!-- End Hero Carousel -->

  <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
  <script>
    bulmaCarousel.attach('#carousel-demo', {
      slidesToScroll: 1,
      slidesToShow: 1
    });
  </script>
</section>
</div>
