@charset "utf-8";

// Customization

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Tinos:400,700');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Questrial&display=swap');

//@import "../node_modules/bulma/sass/utilities/_all.sass";

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";
//@import "../node_modules/bulma-timeline"; // not working
//@import '../node_modules/bulma-timeline/dist/css/bulma-timeline.sass';

// Import Bulma core
//@import 'bulma.sass'

// Import component // https://bulma-carousel.onrender.com/
//@import "bulmaCarousel.sass";

// 2. Set your own initial variables
// Tints
$white: #FFFBF4;
$black: #010204;
// Palette
$orange: #FFBA00;
$orange-dark: #FF9600;
$orange-darker: #F37810;
$orange-light: #FFE4B9;
$orange-invert: $white;
// Update the blue shade, used for links
$blue: #186CF7; //#06bcef;
$blue-light: #B3B5EE;
$blue-dark: #253F9B;
$grey-light: $blue-light;
// Add pink and its invert
$pink: #FF56FF; //#ff8080;
$pink-invert: #FFFBF4;
$pink-light: #F8B2FA;
$pink-dark: #D10F8A;
$red: #ED4305;
// Update the serif font family
$family-serif: 'Tinos', serif;
// Update the sans-serif font family
$family-sans-serif: 'Nunito', 'Hammersmith One', 'Questrial', sans-serif;//"Nunito";//"Helvetica", "Arial", sans-serif;
// Small footer please.
$footer-padding: 1.5rem;

// Customize shortcuts
$shortcuts: ("margin": "m", "padding": "p") !default
$directions: ("top": "t", "right": "r", "bottom": "b", "left": "l") !default
$horizontal: "x" !default
$vertical: "y" !default
$values: ("0": 0, "1": 0.25rem, "2": 0.5rem, "3": 0.75rem, "4": 1rem, "5": 1.5rem, "6": 3rem) !default

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $orange;//#FFBA00; //$orange;
$primary-invert: $white; //$pink-invert;

// 4. Setup your own custom colors
$secondary: $white;
$secondary-invert: findColorInvert($secondary);
$turquoise: $blue;
$turquoise-invert: findColorInvert($blue);

// 5. Add new color variables to color map.
@import "../node_modules/bulma/sass/utilities/derived-variables";
$addColors: (
  "orange": ($orange-dark, $orange-invert),
  "primary": ($primary, $primary-invert),
  "secondary": ($secondary, $secondary-invert),
  "turquoise": ($turquoise, $turquoise-invert)
);
$colors: map-merge($colors, $addColors);
// Bulma Timeline
/*$timeline-marker-background-color: $white;
$timeline-marker-border:	.1em solid $grey-light;
$timeline-line:	.1rem solid $grey-light;
$timeline-content-padding: 1em 0 0 2em;
$timeline-icon-size: $size-5;
$timeline-header-width: 4em;
$dimensions: 16 24 32 48 64 96 128;*/


// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";


// CUSTOMIZATION
.hero.is-primary .tabs li.is-active a {
  color: #186CF7!important;
}
// Animated list
.content {
  overflow:hidden;
  color: #D10F8A;

  &__container {
    //font-weight: 600;
    overflow: hidden;
    height: 48px;
    //border: 1px solid blue;
    margin:0;
    padding:0;

    &__text {
      //display: inline;
      float: left;
      margin: 0;
    }

    &__list {
      //border: 1px solid red;
      float: left;
      margin-top: 0;
      padding:0;
      text-align: left;
      list-style: none;

      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;

      &__item {
        line-height:40px;
        margin:0;
        padding:2px 0 5px 0;
      }
    }
  }
}

.content__container__list h1 {
  border: 0px dashed red;
  padding:0;
  margin:0 0 20px 0;
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,-4%,0);}
  16.66%, 29.32% {transform:translate3d(0,-29%,0);}
  33.32%,45.98% {transform:translate3d(0,-54%,0);}
  49.98%,62.64% {transform:translate3d(0,-79%,0);}
  66.64%,79.3% {transform:translate3d(0,-54%,0);}
  83.3%,95.96% {transform:translate3d(0,-29%,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,-4%,0);}
  16.66%, 29.32% {transform:translate3d(0,-29%,0);}
  33.32%,45.98% {transform:translate3d(0,-54%,0);}
  49.98%,62.64% {transform:translate3d(0,-79%,0);}
  66.64%,79.3% {transform:translate3d(0,-54%,0);}
  83.3%,95.96% {transform:translate3d(0,-29%,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,-4%,0);}
  16.66%, 29.32% {transform:translate3d(0,-29%,0);}
  33.32%,45.98% {transform:translate3d(0,-54%,0);}
  49.98%,62.64% {transform:translate3d(0,-79%,0);}
  66.64%,79.3% {transform:translate3d(0,-54%,0);}
  83.3%,95.96% {transform:translate3d(0,-29%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,-4%,0);}
  16.66%, 29.32% {transform:translate3d(0,-29%,0);}
  33.32%,45.98% {transform:translate3d(0,-54%,0);}
  49.98%,62.64% {transform:translate3d(0,-79%,0);}
  66.64%,79.3% {transform:translate3d(0,-54%,0);}
  83.3%,95.96% {transform:translate3d(0,-29%,0);}
}

// 6 is the number of animation.
// Here, there are 4 lines :

// 1 to 2
// 2 to 3
// 3 to 4
// 4 to 3
// 3 to 2
// 2 to 1

// 6x + 6y = 100 (100% duration)

// HERE :
// y = 4 -> Animation between two lines
// x = 12.66 -> Time spent on a line

// You can define a value and calculate the other if you want change speed or the number of lines


// 600px and smaller
@media screen and (max-width: 600px){
  // Animated list - mobile
  .content {
    overflow:hidden;
    color: #D10F8A;
    border:0px solid white;
    margin:0;
    padding:0;

    &__container {
      font-weight: 600;
      overflow: hidden;
      height: 48px;
      border:0px solid blue;
      padding:0;
      margin:0;

      &__text {
        display: inline;
        float: left;
        padding:0;
        margin:0;
      }

      &__list {
        border:0px solid red;
        width:100%;
        margin:0;
        padding:0;
        list-style: none;

        -webkit-animation-name: change;
        -webkit-animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        animation-name: change;
        animation-duration: 10s;
        animation-iteration-count: infinite;

        &__item {
          line-height:40px;
          margin:0;
          padding:0;
        }
      }
    }
  }
  .content__container__list h1 {
    border:0px dashed green;
    padding:0;
    margin:0 0 20px 0;
  }
  @-webkit-keyframes change-mob {
    0%, 12.66%, 100% {transform:translate3d(0,-4%,0);}
    16.66%, 29.32% {transform:translate3d(0,-29%,0);}
    33.32%,45.98% {transform:translate3d(0,-54%,0);}
    49.98%,62.64% {transform:translate3d(0,-79%,0);}
    66.64%,79.3% {transform:translate3d(0,-54%,0);}
    83.3%,95.96% {transform:translate3d(0,-29%,0);}
  }
  @-o-keyframes change-mob {
    0%, 12.66%, 100% {transform:translate3d(0,-4%,0);}
    16.66%, 29.32% {transform:translate3d(0,-29%,0);}
    33.32%,45.98% {transform:translate3d(0,-54%,0);}
    49.98%,62.64% {transform:translate3d(0,-79%,0);}
    66.64%,79.3% {transform:translate3d(0,-54%,0);}
    83.3%,95.96% {transform:translate3d(0,-29%,0);}
  }
  @-moz-keyframes change-mob {
    0%, 12.66%, 100% {transform:translate3d(0,-4%,0);}
    16.66%, 29.32% {transform:translate3d(0,-29%,0);}
    33.32%,45.98% {transform:translate3d(0,-54%,0);}
    49.98%,62.64% {transform:translate3d(0,-79%,0);}
    66.64%,79.3% {transform:translate3d(0,-54%,0);}
    83.3%,95.96% {transform:translate3d(0,-29%,0);}
  }
  @keyframes change-mob {
    0%, 12.66%, 100% {transform:translate3d(0,-4%,0);}
    16.66%, 29.32% {transform:translate3d(0,-29%,0);}
    33.32%,45.98% {transform:translate3d(0,-54%,0);}
    49.98%,62.64% {transform:translate3d(0,-79%,0);}
    66.64%,79.3% {transform:translate3d(0,-54%,0);}
    83.3%,95.96% {transform:translate3d(0,-29%,0);}
  }
}

// QUOTES

// Define your color and font-size variables here
$quote-color: $orange;
$quote-font-size: 48px;
$quote-font-family: "Dancing Script", cursive;

/* Opening Quotation Mark */
.opening-quote {
  font-size: $quote-font-size; /* Use the font-size variable */
  font-family: $quote-font-family; /* Use the font-family variable */
  color: $quote-color; /* Use the color variable */
  display: inline-block;
  line-height: 1; /* Reset line-height to normal */
}

/* Closing Quotation Mark */
.closing-quote {
  font-size: $quote-font-size; /* Use the font-size variable */
  font-family: $quote-font-family; /* Use the font-family variable */
  color: $quote-color; /* Use the color variable */
  display: inline-block;
  line-height: 1; /* Reset line-height to normal */
}
