<!-- OneBar AlayaCare -->
<!-- SECTION: Case Study OneBar -->
<section class="section">
<div class="container">
  <div class="tile is-ancestor">
    <div class="tile is-vertical">
      <div class="tile is-child">
        <h2 class="title is-3 is-spaced">OneBar Analysis & Reporting<h2>
        <span class="title is-4 has-text-weight-light">OneBar is a knowledge management platform that helps teams collect valuable internal information and access it anywhere.</span>
      </div>
      <div class="tile is-child">
        <h4 class="subtitle is-uppercase">Situational Context</h4>
        <p>When I joined AlayaCare, the company was hiring an average of fifteen developers per month while expanding the Montréal location to occupy the entire floor we were renting, creating new meeting rooms and renaming existing rooms. This dual-growth impacted the Montréal office’s day-to-day in two distinctive ways:</p>
        <ul class="ml-4" style="list-style: disc; list-style-position: inside;">
          <li>Current employees had to relearn meeting room names; and,</li>
          <li>New employees had no clue where their meetings were located.</li>
        </ul>
        <p>In a nutshell, the most commonly heard sentence in the Montréal office became “Where is XYZ room?”</p>
      </div>
      <div class="tile is-child">
        <h4 class="subtitle is-uppercase">Hypothesis</h4>
        <p>When your departments have access to different tools, the information your organization duplicates not only goes unnoticed, but it is also harder to maintain where the source of truth is and which version is accurate.</p>
        <p>As a proof of concept for the use of a centralized organization-wide knowledge-based platform, I implemented a free Slack chatbot to support company growth, streamline onboarding and facilitate day-to-day employee experience.</p>
      </div>
    </div>
    <div class="tile is-parent is-vertical">
      <div class="tile is-child level">
        <figure class="image level-item has-centered-text mb-6">
          <img src="img/onebar/logo-OneBar.png" alt="OneBar logo" style="height:103px;width:410px;">
        </figure>
        <figure class="image">
          <img src="img/onebar/OneBar-slider-slack.svg" alt="">
        </figure>
      </div>
    </div>

    <div class="tile is-parent is-vertical">
      <div class="tile is-child">
        <h4 class="subtitle is-uppercase">Solution</h4>
        <p>OneBar chatbot was introduced in Montréal’s main Slack channel, along with a simple demonstration of a room query. Employees could ask OneBar the location of a room by name, whether new or old, and the chatbot would immediately display a floorplan of the office with the queried room highlighted, along with a short description of any features or landmarks near that room.</p>
        <p>Adoption rate was fairly quick as this solution solved some organizational and onboarding friction while facilitating the timely arrival of employees to scheduled meetings. Over the weeks since the introduction of the chatbot, users started to engage more deeply with what I would call “The Office Concierge,” with queries ranging from “What is the guest wifi password?” and “Where can I find mouse batteries?” to the inevitable “When is yoga?”</p>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child">
        <h4 class="subtitle is-uppercase">Collaborators</h4>
        <ul class="ml-4" style="list-style: disc; list-style-position: inside;">
          <li>OneBar’s CEO and founder provided the search log in .csv format.</li>
          <li>AlayaCare’s Office Manager provided existing and expected floorplans.</li>
          <li>AlayaCare’s Security Director green-lit implementing OneBar.</li>
          <li>Two co-workers helped test the bot prior to launch.</li>
        </ul>
      </div>
      <div class="tile is-child is-6">
        <h4 class="subtitle">TOOLS</h4>
        <div class="is-size-6 tag is-orange mb-1">Python</div>
        <div class="is-size-6 tag is-orange mb-1">JavaScript</div>
        <div class="is-size-6 tag is-orange mb-1">BeautifulSoup</div>
        <div class="is-size-6 tag is-orange mb-1">Selenium</div>
        <div class="is-size-6 tag is-orange mb-1">Google Sheets</div>
        <div class="is-size-6 tag is-orange mb-1">Miro</div>
        <div class="is-size-6 tag is-orange mb-1">Affinity Diagram</div>
        <div class="is-size-6 tag is-orange mb-1">InDesign</div>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child is-6">
        <h4 class="subtitle is-uppercase">Proof of Concept Analysis</h4>
        <p>Running from September 16th to December 12th 2019, sensitive information such as full names and email addresses were removed, anonymizing the data, and macros were created to facilitate the creation of the three (3) graphs below.</p>
      </div>
      <div class="tile is-child is-6">
        <h4 class="subtitle">DURATION & DATA</h4>
        <ul class="ml-4" style="list-style: disc; list-style-position: inside;">
          <li>Start Date: Sept. 16th, 2019</li>
          <li>Duration: 61 days</li>
          <li>Unique Users: 81</li>
        </ul>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child is-6">
        <h4 class="subtitle is-uppercase">Queries per day</h4>
        <figure class="image">
          <img src="img/onebar/graphs/queries-per-day.svg" alt="">
        </figure>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child">
          <h4 class="subtitle is-uppercase">Queries per week</h4>
          <figure class="image">
            <img src="img/onebar/graphs/total-queries-per-week.svg" alt="">
          </figure>
        </div>
        <div class="tile is-child">
          <h4 class="subtitle is-uppercase">Queries per month</h4>
          <figure class="image">
            <img src="img/onebar/graphs/total-queries-per-month.svg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
</section><!-- Ends AlayaCare OneBar Study -->
