<!-- SECTION: Currently Working On -->
<section class="section">
  <div class="container is-fluid" style="padding:0;border:0px solid blue;">
    <div class="columns">
      <!--<div class="column is-1"></div>-->
      <div class="column is-8 is-offset-2" style="border: 0px dashed red;">
        <div class="content">
          <h2 class="has-text-centered-mobile">What's Cooking?</h2>
        </div>
        <div class="columns has-text-centered-mobile">
          <!-- Subsection 1: Promoting Bestie the Buffalo -->
          <div class="column is-8 has-text-centered-mobile">
            <div class="card">
              <div class="card-content">
                <h4 class="title is-4 has-text-primary has-text-weight-bold">Bestie Buffalo</h4>
                <h5 class="subtitle is-5">Your Personal Chatbot Companion</h5>
                <img src="/buffalo/img/avatar-oversized.png" alt="Bestie the Buffalo" width="150" height="150">
                <p><strong>Goodbye stress, hello self-awareness!</strong></p>
                <p>Bestie Buffalo guides you through a daily wellness routine, capturing the highest and lowest moments of your day with a space to share anything else on your mind.</p>
                <p>On a weekly basis, Bestie Buffalo compiles these insights into a holistic wellness bilan, empowering you to take charge of your mental and emotional well-being.</p>
              </div>
              <footer class="card-footer">
                <a href="portfolio.html" class="card-footer-item" aria-label="Bestie Hi-Lo-Buffalo Case Study">Read the Case Study</a>
                <a href="/buffalo/" target="_blank" class="card-footer-item" aria-label="Meet Bestie Hi-Lo-Buffalo">Meet Bestie Buffalo</a>
              </footer>
            </div>
          </div>
          <!-- Subsection 2: Learning Tools - Botpress -->
          <div class="column is-4">
            <div class="card">
              <div class="card-content">
                <h4 class="title is-4 has-text-primary has-text-weight-bold">Currently Learning</h4>
                <img src="img/botpress/logo-botpress.png" alt="Botpress Logo" height="50" style="height:50px;">
                <p>These days, I'm updating my Botpress skills since they implemented ChatGPT and a ton of new features since I last played with the platform!</p>
              </div>
              <footer class="card-footer">
                <a href="https://botpress.com/docs/" class="card-footer-item" target="_blank" aria-label="Discover Botpress website">Discover Botpress</a>
              </footer>
            </div>

            <!-- Add some padding here -->
            <div style="padding: 10px;"></div>
            <!-- Subsection 3: Currently Playing Warcraft Rumble -->
            <div class="card">
              <div class="card-content">
                <h4 class="title is-4 has-text-primary has-text-weight-bold">Currently Playing</h4>
                <img src="img/logo-warcraft-rumble.png" alt="Warcraft Rumble" height="30" style="height:80px;">
                <p>
                  I'm currently enjoying some epic battles in Warcraft Rumble!
                </p>
              </div>
              <footer class="card-footer">
                <a href="https://play.google.com/store/apps/details?id=com.blizzard.arc&hl=en&gl=US" target="_blank" class="card-footer-item" aria-label="Get WarCraft Rumble on Android">Get it on Android</a>
                <a href="https://apps.apple.com/ph/app/warcraft-rumble/id1600575058" target="_blank" class="card-footer-item" aria-label="Get WarCraft Rumble on iOS">Get it on iOS</a>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
