<!-- SECTION: Footer -->
<footer class="footer has-text-centered">
  <div class="container">
     <div class="columns">
      <div class="column is-10-desktop is-offset-1-desktop">
        <p>
          <small>
            Copyright &copy; 1997-2023 &bull; Beau G&eacute;n&eacute;reux &bull; All Rights Reserved
          </small>
        </p>
      </div>
    </div>
  </div>
</footer>
