<nav class="level navbar" role="navigation" aria-label="main navigation">
  <div class="level-item navbar-brand">
    <div class="level-item has-text-centered">
      <a href="index.html" aria-label="Beau G&eacute;n&eacute;reux Logo, Go back to Home page.">
        <figure class="image" style="border:0px dashed white;">
          <img src="img/logo@2x.png" style="width:60px;" alt="beau.chat logo of an orange cat peaking out of a hole.">
        </figure>
      </a>
      <h1 class="level-item has-text-centered title is-4 ml-3">beau.chat</h1>
    </div>
  </div>
  <div class="level-item">
    <p class="level-item has-text-centered">
      <!--<a href="https://www.queerevents.ca/canada/pride/history" target="_new" aria-label="Milestones in the History of Pride Across Canada">🏳️‍🌈Happy Pride! 🏳️‍🌈</a>-->
    </p>
  </div>
  <div class="level-item navbar-menu">
    <div class="level-item has-text-grey-light">
        Tio'tia:ke (Montr&eacute;al, Canada)
    </div>
  </div>
</nav>
