<div class="tabs is-centered is-boxed">
  <ul>
    <li class="is-active">
      <a href="index.html" aria-label="Refresh Home page.">
        <span class="icon is-small"><i class="fas fa-home" aria-hidden="true"></i></span>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="portfolio.html" aria-label="Design Portfolio">
        <span class="icon is-small"><i class="fas fa-laptop" aria-hidden="true"></i></span>
        <span>Portfolio</span>
      </a>
    </li>
    <li>
      <a href="about.html" aria-label="Résumé">
        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
        <span>R&eacute;sum&eacute;</span>
      </a>
    </li>
  </ul>
</div>
