<!--<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="index.html" aria-label="Beau G&eacute;n&eacute;reux Logo, Go back to Home page.">

    </a>
    <a class="navbar-item" href="portfolio.html" aria-label="Portfolio">Portfolio</a>
    <a class="navbar-item" href="about.html" aria-label="Résumé">R&eacute;sum&eacute;</a>
  </div>
  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
</nav>-->

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="index.html" aria-label="Beau G&eacute;n&eacute;reux Logo, Go back to Home page.">
      <img src="img/logo-beauchat-gone@2x.png" style="height: 30px;" alt="beau.chat logo of an orange cat peaking out of a hole.">
      <h1 class="level-item has-text-centered title is-4 ml-3">beau.chat</h1>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="index.html" aria-label="Home">Home</a>
      <a class="navbar-item" href="portfolio.html" aria-label="Portfolio">Portfolio</a>
      <a class="navbar-item" href="about.html" aria-label="Résumé">R&eacute;sum&eacute;</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
