<nav class="tabs is-centered">
  <ul>
    <li><a href="index.html" aria-label="Go back to Home page.">Illustrations</a></li>
    <li><a href="about.html" aria-label="About Beau Genereux">About</a></li>
    <li class="is-active"><a href="#" aria-label="Contact Beau Genereux">Contact</a></li>
  </ul>
</nav>
