<div class="tabs is-centered is-boxed">
  <ul>
    <li>
      <a href="index.html" aria-label="Go back to Home page.">
        <span class="icon is-small"><i class="fas fa-home" aria-hidden="true"></i></span>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="portfolio.html" aria-label="Design Portfolio">
        <span class="icon is-small"><i class="fas fa-laptop" aria-hidden="true"></i></span>
        <span>Portfolio</span>
      </a>
    </li>
    <li class="is-active">
      <a href="about.html" aria-label="Résumé">
        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
        <span>R&eacute;sum&eacute;</span>
      </a>
    </li>
  </ul>
</div>
<!--<nav class="tabs is-centered">
  <ul>
    <li><a href="index.html" aria-label="Go back to Home page.">Home</a></li>
    <li><a href="casestudy-onebar.html" aria-label="OneBar Case Study">OneBar</a></li>
    <li class="is-active"><a href="#" aria-label="About Beau Genereux">About</a></li>
    <!--<li><a href="contact.html" aria-label="Contact Beau Genereux">Contact</a></li>
  </ul>
</nav>-->
